
@{
    ViewBag.Title = "Index";
}
<h3 class="text-center">This is ViewResult demo page</h3>
<hr />
<div class="d-block gap-3 my-lg-5 align-content-center">
    <a href="@Url.Action("JsonTest","Test2")" class="btn btn-success m-2">Test JsonResult</a>
    <button type="button" id="testJs" class="btn btn-secondary">Test JavaScriptResult</button>
    <a href="@Url.Action("FileTest")" class="btn btn-warning m-2">Test FileResult</a>
    <a href="@Url.Action("ContentTest")" class="btn btn-info m-2">Test ContentResult</a>
    <a href="@Url.Action("EmptyTest")" class="btn btn-dark m-2">Test EmptyResult</a>
    <a href="@Url.Action("PartialViewTest")" class="btn btn-primary m-2">Test PartialViewResult</a>
</div>





<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#testJs").click(function () {
            $.getScript("/Test2/WarningMessage");
        });
    });
</script>

